rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /groups/{groupId}/{allPaths=**} {
      function activeMember() {
        return request.auth != null &&
          firestore.exists(/databases/(default)/documents/groupMembers/$(groupId + '_' + request.auth.uid)) &&
          firestore.get(/databases/(default)/documents/groupMembers/$(groupId + '_' + request.auth.uid)).data.status == 'active';
      }
      function isLeader() {
        return request.auth != null &&
          activeMember() &&
          firestore.get(/databases/(default)/documents/groups/$(groupId)).data.leaderId == request.auth.uid;
      }
      allow read: if activeMember();
      allow create: if activeMember() && request.resource.size < 25 * 1024 * 1024;
      allow update: if false;
      allow delete: if isLeader() ||
        (resource.metadata.uploaderId == request.auth.uid);
    }
  }
}
